@import 'bourbon/bourbon';

body {
  background: #edefed;
  font-family: 'Karla', $helvetica;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: white;
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  color: white;
  background: url(../img/hero.jpg) center/cover no-repeat;
  height: 280px;
  text-align: center;
  padding-top: 120px;
  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1em;
  }
  p {
    margin: 5px 0 20px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      height: 40px;
      border: none;
      &[type=text] {
        width: 85%;
        // padding: 5px 0;
        text-align: center;
        font-size: .9rem;
        color: #565a5c;
        border-radius: 3px 0 0 3px;
      }
    }
    button {
      width:35px;
      background: #ff5a5f;
      height: 42px;
      border-radius: 0 3px 3px 0;
      border: none;
      color: white;
    }
  }
}
